In [1]:
import pandas as pd
import numpy as np

#Create DataFrame
df = pd.DataFrame( dict(RollNo=[10,20,30,40],
                  Sname =['Ram','Sham','Hari', 'Kiran'],
                  m1 =[67,89,np.NaN,65],
                  m2 = [87,np.NaN,70,77],
                  rank = ['Rank-1','Rank-3','Rank-3','Rank-2']
                  ))
display(df)

   RollNo  Sname    m1    m2    rank
0      10    Ram  67.0  87.0  Rank-1
1      20   Sham  89.0   NaN  Rank-3
2      30   Hari   NaN  70.0  Rank-3
3      40  Kiran  65.0  77.0  Rank-2